.header {
    background-image: url("/images/profile_backdrop.jpg");
    font-family: sans-serif;
    text-align: center;
}

.header-overlay {
  background-color: #000000b3;
  padding-bottom: 15px;
}
.avatar-img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  border-color: grey;
  border-style: dashed;
}

.user-name {
  color: white;
}

a {
  color: #ffe0a9;
}

.nav {
  background: transparent;
  text-align: right;
  font-weight: bold;
  padding: 10px;
}

.body {
  text-align: center;
  font-family: monospace;
}